html,
body {
  border: 0;
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header header"
    /* "menu banner banner" */
    "menu content panel"
    "footer footer footer";
  grid-template-columns: 10em 1fr 15em;
  grid-template-rows: auto 1 fr minmax(10em, auto);
  min-height: 100vh;
}

.grid-container > div {
  box-sizing: border-box;
  position: relative;
}

.grid-header {
  background-color: #ccc;
  grid-area: header;
  padding: 1em;
  text-align: center;
}

.grid-menu {
  background-color: #c0c0c0;
  grid-area: menu;
  padding: 1em;
}

.grid-menu ul,
.grid-panel ul,
.grid-footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.grid-content {
  grid-area: content;
  padding: 3em 3em 4em;
}

.grid-panel {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  grid-area: panel;
  padding: 4em 2em 4em 3em;
}

.grid-footer {
  background-color: #ddd;
  grid-area: footer;
  padding: 4em 1em;
  text-align: center;
}

.grid-footer li {
  display: inline-block;
}


.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  grid-auto-rows: minmax(10em, 1fr);
  grid-gap: 1em;
}

.grid > div {
  border: 1px solid #000;
}

.grid-feature {
  grid-column: span 2;
}

.grid-banner {
  align-self: start;
  background-color: rgba(168, 214, 247, 0.9);
  grid-column: content-start / panel-end;
  grid-row-start: content-start;
  padding: 1em;
  position: sticky;
  top: 0;
  z-index: 10;
}
